<li class="post-card {{post_class}}">
  {{#has tag="#has-cover"}}
  {{#if feature_image}}
  <a href="{{url}}">
  <img class="post-card-image" loading="lazy" src="{{img_url feature_image size="xs"}}"
  />
  </a>
  {{else}}
  <a href="{{url}}">
  <img class="post-card-image" style="max-width:120px;" loading="lazy" src="{{tags.[1].feature_image}}"
  />
  </a>
  {{/if}}
  {{/has}}
  <h3 class="post-card-title"><a href="{{url}}">{{title}}</a></h3>
</li>


