{{#if isSecondary}}
<ul class="nav">
  {{#foreach navigation}}
  <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
  {{/foreach}}
</ul>
{{else}}
<ul class="nav">
    {{!-- {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current">{{label}} {{#is "tag"}}({{#tag}}{{plural ../pagination.total empty='0' singular='1' plural='%'}}{{/tag}}){{else}}({{plural ../pagination.total empty='0' singular='1' plural='%'}}){{/is}}</li>{{else}}"><a href="{{url absolute="true"}}">{{label}}</a></li>{{/if}}
    {{/foreach}} --}}
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current">{{label}}</li>{{else}}"><a href="{{url absolute="true"}}">{{label}}</a></li>{{/if}}
    {{/foreach}}
</ul>
{{/if}}