<section class="article-share-section gh-canvas">
	<div class="article-share-wrap">
		<a class="share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
      onclick="window.open(this.href, 'share-facebook','width=580,height=300');return false;" aria-label="share Facebook">
      {{>icons/social/facebook}}
		</a>
    <a class="share-vk" href="https://vk.com/share.php?url={{url absolute="true"}}"
      onclick="window.open(this.href, 'share-vk','width=580,height=300');return false;" aria-label="share VK">
      {{>icons/social/vk}}
    </a>
    <a class="share-tw" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" data-via="somexprt" onclick="window.open(this.href, 'share-twitter', 'width=580,height=300');return false;" aria-label="share Twitter">
      {{>icons/social/twitter}}
    </a>
    <a class="share-tg" href="tg://msg_url?text={{encode excerpt}}&amp;url={{url absolute="true"}}"
      onclick="window.open(this.href, 'share-telegram','width=580,height=300');return false;" aria-label="share Telegram">
      {{>icons/social/telegram}}
    </a>
		<a class="article-copy-link" id="btn-clipboard" data-clipboard-target="#copy-url">{{>icons/site/copy}}</a>
		<small class="share-link-info"></small>
	</div>
  <input type="text" id="copy-url" value="{{url absolute="true"}}">
</section>