<article class="post-card-wrapper">
	<a class="post-card-content" href="{{url}}">
		<div class="post-card {{post_class}}">
			<h2 class="post-card-title">{{title}}</h2>
			{{#has tag="#cover-feed"}}
			{{#if feature_image}}
			<img class="post-card-image" loading="lazy" src="{{img_url feature_image}}" alt="{{title}}" />
			{{/if}}
			{{/has}}
			<section class="post-card-excerpt">
				{{#if feature_image}}
					<p>{{excerpt words="30"}}</p>
				{{else}}
					<p>{{excerpt words="44"}}</p>
				{{/if}}
			</section>
			<footer class="post-card-meta">
				<div class="post-byline-content">
					{{#if primary_tag}}
						{{#primary_tag}}
						<span class="post-card-primary-tag">{{name}}</span>&nbsp;<span class="bull">&bull;</span>
						{{/primary_tag}}
					{{/if}}
					<span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time>&nbsp;<span class="bull">&bull;</span> {{reading_time minute="1&nbsp;мин." minutes="%&nbsp;мин."}}</span>
				</div>
			</footer>
		</div>
	</a>
</article>