<header class="outer site-header">
  <div class="inner">
		<div class="site-header-content{{#is "home"}} site-home-header{{/is}}">
			<div class="site-header-first-line">
				{{#if @site.logo}}
					{{#is "home"}}
					<span class="site-logo">{{>icons/site/logo-clip}}</span>
					{{else}}
					<a class="site-logo" href="{{@site.url}}">{{>icons/site/logo-clip}}</a>
					{{/is}}
				{{/if}}
				<div class="site-header-wrapper">
					<div class="site-header-left">
						{{#is "home"}}
						<span class="site-title"><h1>{{@site.title}}</h1></span>
						{{else}}
						<a class="site-title" href="{{@site.url}}"><h1>{{@site.title}}</h1></a>
						{{> "icons/site/arrow"}}
						<a class="site-title sub-title" href="{{@site.url}}/blog/">Блог</a>
						{{/is}}
					</div>
					{{!-- <div class="site-header-right">
						<div class="site-search">{{>icons/site/search}}</div>
					</div> --}}
				</div>
			</div>
			<div class="site-header-second-line">
				{{#is "home, page"}}
				{{#page}}
				{{content}}
				{{/page}}
				{{else}}
				<p class="site-description">{{@site.description}}</p>
				{{/is}}
			</div>
		</div>
		{{^is "home, page"}}
		<nav class="site-nav-content">
			{{#if @site.navigation}}
				{{navigation}}
			{{/if}}
		</nav>
		{{/is}}
  </div>
</header>