<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    {{#is "post"}}<link rel="stylesheet" type="text/css" href="{{asset "built/highlight.css"}}" />{{/is}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="site-wrapper">
        {{> site-header}}
        {{{body}}}
        {{> site-footer}}
    </div>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{#is "post"}}
    <script src="{{asset "built/post.js"}}"></script>
    {{/is}}
    <script src="{{asset "built/global.js"}}"></script>
    <script>doubleHover('a', 'hover');</script>
    {{{block "scripts"}}}
    {{ghost_foot}}
</body>
</html>