<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{message}} • {{statusCode}} • {{@site.title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <style>
        @media (max-width: 900px) {
            #gh-head .gh-head-inner {
                height: auto;
            }
        }
    </style>
</head>
<body class="{{body_class}}">
    <div class="site-wrapper">
        {{> header}}
        <main id="site-main" class="site-main outer error-content">
            <div class="inner">
                <section class="error-message">
                    <h1 class="error-code">{{statusCode}}</h1>
                    <p class="error-description">{{message}}</p>
                    <div style="display:flex;flex-direction:row"><a class="error-link btn" href="{{@site.url}}">На главную</a></div>
                </section>
            </div>
        </main>
        {{> footer}}
    </div>
    <script src="{{asset "built/global.js"}}"></script>
    <script>doubleHover('a', 'hover');</script>
    {{{block "search_js"}}}
</body>
</html>