{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<article class="article {{post_class}}">

    <header class="article-header gh-canvas">
        <h1 class="article-title">{{title}}</h1>
        <div class="article-byline">
            <section class="article-byline-content">
                {{#if primary_tag}}
                    {{#primary_tag}}
                    <span class="article-tag">{{name}}</span>&nbsp;<span class="bull">&bull;</span>
                    {{/primary_tag}}
                {{/if}}
                <span class="article-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time>&nbsp;<span class="bull">&bull;</span> {{reading_time minute="1&nbsp;мин." minutes="%&nbsp;мин."}}</span>
            </section>
        </div>
        {{#has tag="#cover-post"}}
            {{#if feature_image}}
                {{#has tag="#excerpt-post"}}
                    {{#if excerpt}}
                        {{#has tag="#cover-aside"}}
                        <p class="article-excerpt">{{excerpt}}</p>
                        <aside>
                            <figure class="article-image">
                                <img src="{{img_url feature_image}}" alt="{{title}}"/>
                            </figure>
                        </aside>
                        {{else}}
                        <p class="article-excerpt">{{excerpt}}</p>
                        <figure class="article-image">
                            <img src="{{img_url feature_image}}" alt="{{title}}"/>
                        </figure>
                        {{/has}}
                    {{/if}}
                {{else}}
                <figure class="article-image">
                    <img src="{{img_url feature_image}}" alt="{{title}}"/>
                </figure>
                {{/has}}
            {{/if}}
        {{else has tag="#excerpt-post"}}
            {{#if excerpt}}
                <p class="article-excerpt">{{excerpt}}</p>
            {{/if}}
        {{/has}}
    </header>

    <section class="gh-content gh-canvas">
        {{content}}
    </section>

    {{> post-share}}

    <section class="article-byline gh-canvas">
        <div class="article-byline-meta">
            <span class="article-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time></span>
            {{#if tags}}
            <ul class="article-byline-tags">
            {{#foreach tags}}
                <li>
                    <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                </li>
            {{/foreach}}
            </ul>
            {{/if}}
        </div>
    </section>

</article>

<aside class="read-next outer">
	<div class="inner">
		<div class="read-next-feed">
			{{#if primary_tag}}
				{{#get "posts" include="tags" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="5" as |related-posts|}}
					{{#if related-posts}}
					<article class="read-next-card">
						<header class="read-next-card-header">
							{{#../primary_tag}}
							<h2 class="section-title"><span>Ещё по тегу</span> <a href="{{url}}">{{name}}</a></h2>
							{{/../primary_tag}}
						</header>
						<div class="read-next-card-content">
							<ul class="clean-posts-feed">
								{{#foreach related-posts}}
									{{> "clean-posts/card"}}
								{{/foreach}}
							</ul>
						</div>
					</article>
					{{/if}}
				{{/get}}
			{{/if}}

			{{#next_post}}
			{{> "post-card"}}
			{{/next_post}}

			{{#prev_post}}
			{{> "post-card"}}
			{{/prev_post}}
		</div>
	</div>
</aside>

{{/post}}