{{!< default}}

{{#tag}}
	<section class="page-content gh-canvas">
        <h1 class="tag-name">{{name}}<span style="{{#if accent_color}}background:{{accent_color}};{{else}}background:var(--ghost-accent-color);{{/if}}">{{plural ../pagination.total empty='1' singular='%' plural='%'}}</span></h1>
		<p>{{description}}</p>
	</section>
{{/tag}}

<main id="site-main" class="site-main outer">
    <div class="inner posts">
        {{> loop}}
        {{pagination}}
    </div>
</main>